<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD CON NODE.JS Y MYSQL</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
</head>

<body>
    <!-- <h1>NODE.JS WITH MYSQL</h1> -->
    <nav class="navbar navbar-dark bg-dark">
        <a href="/" class="navbar-brand">CRUD NODE.JS WITH MYSQL</a>
    </nav>